<div data-role="view" id="bus-schedule-view" data-id="bus-schedule-view"
     data-layout="main-layout" data-title="Разписание"
     data-show="app.schedule.init">
    <div>
        <br/>
        <br/>
    </div>

    <div id="test" style=" display: block;text-align:center">
    </div>
    <br/>
    <div id="container" style=" display: block;text-align:center;">
        <div id="arrow" style="-webkit-transform: rotate(270deg);">
            <img src="img/Arrow.png"/>
        </div>
    </div>
</div>