<div data-role="view" id="bus-choice-view" data-id="bus-choice-view"
     data-layout="main-layout" data-title="Търсене"
     data-show="app.choice.init">
    <p>
Content
        
        
        
        
    </p>
    <div id="categories-holder">
        <select id="categories-list" data-role="dropdownlist"
                data-bind="source: categories, events: { change: change}"
                data-text-field="Name"
                data-value-field="Id">
        </select>
        <select id="category-info">
            <option data-bind="text: selectedCategory.DirectionOneName" data-align="center" value="1" ></option>
            <option data-bind="text: selectedCategory.DirectionTwoName" data-align="center" value="2"></option>            
        </select>
    </div>
    
      <a data-role="button"  data-bind="event {click: getSearchData}" href="views/bus-schedule-view.html#bus-schedule-view" >Покажи разписание</a>
</div>
