<div data-role="view" id="categories-view" data-id="categories-view"
     data-layout="main-layout" data-title="Categories"
     data-show="app.categories.init">
    <div id="categories-holder">
        <select id="categories-list" data-role="dropdownlist"
                data-bind="source: categories, events: { change: change}"
                data-text-field="Name"
                data-value-field="Id">
        </select>
        <select id="category-info">
            <option data-bind="text: selectedCategory.DirectionOneName" data-align="center" value="1" ></option>
            <option data-bind="text: selectedCategory.DirectionTwoName" data-align="center" value="2"></option>   
           <!-- <ul data-role="listview" data-bind="source: selectedCategory.Places" data-template="place-template"></ul>     -->           
        </select>
    </div>
</div>
